<%-include('../user/layouts/user-header.ejs') %>
<div class="page-holder">
    <div class="container">
      <!-- HERO SECTION-->
    
      <section class="mt-4 pb-3 bg-cover bg-center d-flex align-items-center" style="background:url(/productimages/Ab-1675312445549.jpeg); height: 80vh; background-size: cover;">
        <div class="container py-5">
          <div class="row px-4 px-lg-5">
            <div class="col-lg-7">
              <div class="col-lg-10 mb-5">
                <h5 class="aboutpage">General Inquiries</h5>
                <p>Have a question… or just want to say hello? Get in touch: howellbags@gmail.com</p>
              </div>
              <div class="col-lg-10 mb-5">
                <h5 class="aboutpage">Our Location</h5>
                <h5>HOWELL Bags</h5>
                <p>Kakkancheri,Malappuram,Kerala</p>
              </div>
              <div class="col-lg-10">
                <h5 class="aboutpage">contact us</h5>
                <p>We are always happy to hear from our valued customers.Complete the email form and we will get back to you shortly</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  

<!--Section: Contact v.2-->
      
<%-include('../user/layouts/user-footer.ejs') %>





