<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Howell Bag Store</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
      <!-- bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/stylesheet/profilestyle.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/style.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheet/zoom.css" type="text/css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<!-- chhecking -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/user/images/favicon.png">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                <!-- <div class="tip">2</div> -->
            </a></li>
            <li><a href="/cartpage"><span class="icon_bag_alt"></span>
                <!-- <div class="tip">2</div> -->
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="/"><img src="/user/images/LogoH.PNG" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <% if(!login) { %>
                <a href="/login">Login/Register</a>
                <% } %>
            
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="/user/images/LogoH.PNG" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="<% if(page=='Home'){ %> active <% } %>"><a href="/">Home</a></li>
                            
                            <li class="<% if(page=='Shop'){ %> active <% } %>"><a href="/shoppage">Shop</a></li>
                            <% if (login){%>
                            <li class="<% if(page=='Profile'){ %> active <% } %>"><a href="/profile">Profile</a></li>
                            <% } %>
                            <li class="<% if(page=='Contact'){ %> active <% } %>"><a href="/contact">Contact</a></li>
                            <li>
                                <!-- <span class="icon_search search-switch"> -->
                                <form action="/search" class="d-flex"   role="search">
                                    <input class="form-control" id="search-box" type="search"   name="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-secondary" type="submit"><span class="icon_search search-switch"></span></button>
                                </form>
                                <section id="searchResults">

                                </section>
                            <!-- </span> -->
                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right" >
                        <!-- <div class="header__right__auth">
                            <% if(!login) { %>
                            <a href="/login">Login/Register</a>
                            <% } %>
                            <% if(login) { %>
                                <a href="/logout">Logout</a>
                                
                                <% } %>
                       </div> -->
                        <ul class="header__right__widget " >
                            <!-- <li> -->
                                <!-- <span class="icon_search search-switch"> -->
                                <!-- <form class="d-flex"   role="search">
                                    <input class="form-control" id="search-box" type="search"   name="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit"><span class="icon_search search-switch"></span></button>
                                </form> -->
                            <!-- </span> -->
                        <!-- </li> -->
                        <div class="header__right__auth">
                            <% if(!login) { %>
                            <a href="/login">Login/Register</a>
                            <% } %>
                            <% if(login) { %>
                                <a href="/logout">Logout</a>
                                
                                <% } %>
                       </div>
                            <li><a href="/wishlist"><span class="icon_heart_alt"></span><span id="wishlist" class=" translate-middle badge rounded-pill text-danger mb-2"></span><small class="text-gray fw-normal"></small>
                                <!-- <div class="tip">2</div> -->
                            </a></li>
                            <li><a href="/cartpage"><span class="icon_bag_alt"></span><span id="CartLength" class=" translate-middle badge rounded-pill text-danger"></span><small class="text-gray fw-normal"></small>
                                <!-- <div class="tip">2</div> -->
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
 